.message{

    width:50%;
    min-height:10vh;
    background-color:grey; 
    border-radius:10px;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    word-wrap:break-word;
    padding:5px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}